#header{  
    background-color: #373c47; 
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;  
}
 
#header h3{
    font-style: italic; 
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 5px;   
 } 

.animate__animated.animate__fadeIn{
    --animate-duration: 2s;
}
 