@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
 
body {
    background-image: url("./images/middle_bg.png");
    background-size: 20%;
    /* background-color: #c19a1b;  */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-size: 16px;  
    position: relative;
}
 
h1  {
    font-size: 60px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #f9f3ff;
}
 
h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    color: #f9f3ff;
}

.main-todo-input {
    background: #fff;
    padding: 0 120px 0 0px; 
    border-radius: 1px;
    margin-top: 50px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.253); 
}

.fl-wrap1 {
    float: left;
    width: 100%;
    position: relative; 
    /* margin-bottom: 40px; */
    
}
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 80px;
}

.main-todo-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-todo-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative; 
}
 
/* .main-todo-input-item input:first-child {
    border-radius: none !important; 
    border-color: #fff;
    box-shadow: none !important;
} */

.form-control { 
    border-radius: none !important;  
    box-shadow: none !important;
}

.updateItem .form-control{
    border-color: rgba(128, 128, 128, 0.37);
}

.form-control:focus{
    border-color: white;
    box-shadow:0px 0px 0px 1.5px !important;
    transition: all 0.2s ease-in-out;
    border-radius: 0px;
}
 
.main-todo-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;  
} 
 
.main-search-button {
    position: absolute; 
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff; 
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;  
}

.main-todo-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative; 
}

.rows{
    transition: all 0.2s ease-in-out;
}

.rows:hover {
    background-color: rgba(219, 212, 228, 0.63);
  }

.btn{
    box-shadow: none !important;
    border:none;
    transition: all 0.2s ease-in-out;
}

.btn-icon { 
    border: none;  
    color: white;  
    padding: 7px 18px;  
    font-size: 16px;  
    margin: 10px;
  }
   
.btn-icon:hover { 
    color: black;
  }

#list-items .btn-danger{
    background-color: #a17377 !important;  
}  

#list-items .btn-success{
    background-color: #3c4863 !important; 
}  
 
.add-items:disabled{
    pointer-events: none;
}
.add-items:hover{
    background-color: #5b6174 !important;
}

.updateItem .btn:disabled{
    pointer-events: none;
}

.updateItem .btn:hover{
    background-color: #5b6174 !important; 
}
 
 

@media only screen and (max-width: 768px) {
    .main-todo-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-todo-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-todo-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
}

#list-items {
    padding-left: 20px;
    padding-top: 15px
}

.todo-text {
    color: #757575;
    margin-left: 10px
}

.todo-listing {
    padding: 0px 29px 0px 0px;
    margin-top: 54px !important;
    margin-bottom: 104.5px;
}

 
 